@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  font-family: 'Open Sans', sans-serifq !important;
}

.btn-primary, .btn-secondary {
  color: white !important;
}

.table :where(thead, tfoot) :where(th, td) {
  background-color: transparent !important;
}

.table thead {
  @apply border-b-2
}